@import "../variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  .section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .imgSct1 {
      height: 420px;
      div:first-child {
        overflow-y: visible;
        width: 542px;
        height: 538px;
        transform: translateY(-155px);
      }
      .textSct1 {
        position: absolute;
        top: 60px;
        left: 20px;
        display: flex;
        flex-wrap: wrap;
        width: 214px;
        height: auto;
        p {
          font-size: 18px;
          font-weight: 600;
          height: 20px;
        }
        .text1 {
          color: $orange;
        }
        .text2 {
          color: rgb(124, 124, 124);
        }
        .text3 {
          color: $green;
        }
      }
    }
    .phraseSct1 {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      color: $green;
      width: 260px;
      margin-bottom: 40px;
    }
  }
  .section2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .imgSct2 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div:first-child {
        position: relative;
        width: 570px;
        height: 355px;
        opacity: 40%;
      }
      .titleSct2 {
        p {
          position: absolute;
          width: 110px;
          height: 150px;
          right: 135px;
          color: $green;
          font-size: 26px;
          font-weight: 800;
          top: 230px;
        }
      }
      .textSct2 {
        width: 220px;
        color: $green;
        .text1 {
          color: $orange;
        }
        .text2 {
          color: $black;
        }
      }
    }
    .phraseSct2 {
      font-weight: bold;
      font-size: 24px;
      text-align: center;
      color: $green;
      width: 260px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
  .section3 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-weight: 800;
      font-size: 26px;
      color: $green;
    }
    .imgSct3 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div:first-child {
        position: relative;
        width: 100%;
        height: auto;
      }
    }
  }
  .section5 {
    width: 100%;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    p {
      text-align: center;
      font-weight: 800;
      font-size: 26px;
      color: $green;
      margin-bottom: 40px;
    }
    .imgSct5 {
      width: 100%;
    }
    .phraseSct5 {
      background-color: $sand;
      transform: translateY(-20px);
      height: 33px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .dot1 {
        background-color: $green;
        width: 10px;
        height: 10px;
        border-radius: 5px;
      }
      .dot2 {
        background-color: $orange;
        width: 10px;
        height: 10px;
        border-radius: 5px;
      }
      .dot3 {
        background-color: $brown;
        width: 10px;
        height: 10px;
        border-radius: 5px;
      }
      a {
        font-size: 18px;
        color: $black;
      }
    }
  }
  .section6 {
    width: 100%;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    .top {
      position: absolute;
      width: 78px;
      right: 0;
      top: 0;
      z-index: 1;
    }
    .bottom {
      background-color: $green;
      border-radius: 5px;
      padding: 20px;
      height: 260px;
      width: 325px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      .imgSct6 {
        width: 54px;
        transform: translateY(-50px);
      }
      .paragraph {
        margin-bottom: 20px;
        margin-top: -35px;
      }
      p {
        color: $white;
      }
    }
    .middle1 {
      position: absolute;
      z-index: -1;
      bottom: 0;
    }
    .middle2 {
      display: none;
    }
  }
}

@media (min-width: 786px) {
  .container {
    width: 100%;
    .section1 {
      .imgSct1 {
        width: 100%;
        height: 700px;
        div:first-child {
          width: auto;
          height: auto;
          transform: translateY(-820px);
        }
        .textSct1 {
          top: 200px;
          left: 216px;
        }
      }
      .phraseSct1 {
        align-self: flex-start;
        transform: translateY(-250px);
      }
    }
    .section2 {
      width: 100%;
      top: 50px;
      .imgSct2 {
        width: 100%;

        div:first-child {
          width: 100%;
          height: 900px;
        }
      }
      .titleSct2 {
        position: absolute;
        right: 280px;
        top: 20px;
      }
      .textSct2 {
        position: absolute;
        right: 320px;
        p {
          font-size: 24px;
        }
      }
      .phraseSct2 {
        position: absolute;
        right: 320px;
        top: 1310px;
      }
    }
    .section5 {
      width: 100%;
      .imgSct5 {
        width: 60%;
      }
      .phraseSct5 {
        justify-content: center;
        height: 70px;
        a {
          font-size: 24px;
        }
      }
    }
    .section6 {
      padding: 150px 0;
      .top {
        width: 272px;
        height: 480px;
      }
      .middle2 {
        display: flex;
        position: absolute;
        right: 0;
        bottom: -70px;
        z-index: -1;
      }
      .middle1 {
        left: 50px;
      }
      .bottom {
        width: 500px;
        height: 350px;
        .imgSct6 {
          width: 80px;
          transform: translateY(-120px);
        }
      }
    }
    .section7 {
      width: 100%;
      h2 {
        font-size: 60px;
      }
      .imgSct7 {
        width: 150%;
        div:first-child {
          width: 100%;
          height: 500px;
        }
      }
      .textSct7 {
        top: 210px;
        p {
          font-size: 24px;
        }
      }
    }
  }
}
