.menuMobile {
    display: none;
    z-index: 10;
    position: fixed;
    height: 100%;
    div {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    a{
      text-align: center;
      font-size: 36px;
    }
  }
  