@import "../../styles/variables";

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 11;
  background-color: $white;
  position: sticky;
  top: 0;
  .headerTop {
    div {
      min-width: 20%;
      p {
        color: $green;
        font-size: 18px;
      }
    }
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $white;
    padding: 0 24px;
    svg {
      margin-left: 50px;
      font-size: 22px;
    }
    path {
      fill: $green !important;
    }
  }
}

@media (min-width: 786px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    .headerTop {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      div {
        min-width: 10%;
      }
      svg {
        display: none;
      }
    }
    .menu {
      width: 60%;
    }
  }
}
